<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!-- 
      This is the main Handlebars template for the site 
      - When the user visits the homepage or submits a color the app calls the endpoints in server.js
      - The server script passes data in here and the Handlebars code builds it into the HTML page
    -->
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Bike Bus Tracking Page</title> 
    
    <style>
          body {
              background-color:white;
          }

          div#map {
              height: 638px;
              width: 215px;
              background-color:white;
              margin-left:auto;
              margin-right: auto;
          }
          @livewireStyles
      </style>

      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
         integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
         crossorigin=""/>

     <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
    
  </head>
  <body>
        <!-- This is the start of content for our page -->
        <h1 class="title">Bike Bus Tracking Page</h1>
        
        <div id="map"></div>
    
        <script>
            
            const interval = setInterval(function() {
               getBusLocation();
             }, 5000);
            
            function trackBusLocation()
            {
              getBusLocation();
              setTimeout(function() {
                trackBusLocation();
              }, 5000);
            }
          
            function updateMap(lat, long)
            {
                addBusPositionMarker(lat, long);
            }
        
          
            function getBusLocation()
            {
              fetch('/bus/location', {
                method: 'GET', // or 'PUT'
              })
                .then((response) => response.json())
                .then((data) => {
                  console.log('Success:', data)
                  updateMap(data.latitude, data.longitude)
                })
                .catch((error) => {
                  console.error('Error:', error)
                })
            }
            
        </script>
        <script>
            const mapZoomLevel = 13

            const routeBounds = [
                [41.874, -87.66377961], //bottom left
                [41.95482090, -87.62669311] //top right
            ];

            var map = L.map('map', {
                maxZoom: mapZoomLevel,
                minZoom: mapZoomLevel,
                maxBounds: routeBounds,
                maxBoundsViscosity: 1.0,
                zoomControl: false,
            }).fitBounds(routeBounds);

            var layer = L.tileLayer('https://cdn.glitch.global/6ba8c1b0-9df4-482f-9009-77d10d780dbb/{z}.{x}.{y}.jpg', {
                attribution: 'Chicago, Bike Grid Now!'
            }).addTo(map);


            var marker, circle;

            function addBusPositionMarker(latitude, longitude) {
              if (marker) {
                  map.removeLayer(marker)
              }

              if (circle) {
                  map.removeLayer(circle)
              }

              marker = L.marker([latitude, longitude])
              // circle = L.circle([latitude, longitude], {
              //     radius: 150,
              //     fillColor: "yellow",
              //     weight: 6,
              //  })

              var featureGroup = L.featureGroup([marker, /*circle */]).addTo(map)
            }

            //41.918175, -87.648526 armitage and halsted
            //41.951209, -87.649606 broadway and halsted
            //41.883148, -87.647396 washington and halsted
        </script>
  </body>
</html>
