<html lang="en">
  <head>

    <!-- 
      This is the main Handlebars template for the site 
      - When the user visits the homepage or submits a color the app calls the endpoints in server.js
      - The server script passes data in here and the Handlebars code builds it into the HTML page
    -->

    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Bike Bus Tracker</title>

    <style>
      body { background-color:white; font-family: sans-serif, helvetica, arial;
      text-align: center; } h2 { margin-left: auto; margin-right: auto;
      width:400px; max-width:100%; } a.bus-link-txt { display:inline-block;
      color: black; } a.north-halsted { background-color: yellow; }
      a.south-halsted { background-color: pink; } a.milwaukee {
      background-color: lightblue; } img.preview { width: 50%; float:left; }
      img.bus-link-img { width:100%; } @media (max-width: 500px) { img.preview {
      /* margin-left: auto; margin-right:auto; */ width: 100% !important; } } /*
      div.preview-container { width: 100%; margin-left:auto; margin-right: auto;
      } */
    </style>
  </head>
  <body>
    <!-- This is the start of content for our page -->
    <h1>Bike Bus Tracker</h1>
    <div
      class="bus-link-txt"
      style="background-color:orange;"
      href="active-trans-party"
    >
      <h2>
        Bike Bus routes to the CMC Meeting on Thursday, December 8th coming soon!
      </h2>
      <p style="text-align:left; padding: 10px">
        Buses will run from Horner Park, Lakeview, Logan Square, Pilsen, and the Loop. Track all five buses here.
      </p>
    </div>
      <!-- <a class="bus-link-txt south-halsted" href="https://bikegridnow.org/events/s-halsted-bike-bus-run-3"> -->
    <a class="bus-link-txt north-halsted" href="/north-halsted">
      <!-- <a class="bus-link-txt north-halsted" href="https://bikegridnow.org/events/n-halsted-bike-bus-run-8"> -->

      <h2>
        Track the North Halsted Bike Bus<br />
        <!-- North Halsted Bike Bus Info &rarr;<br /> -->
        <!--       <img class="bus-link-img" src="https://cdn.glitch.global/6ba8c1b0-9df4-482f-9009-77d10d780dbb/header-halsted.png?v=1662526286000" /> -->
      </h2>
    </a>

    <a class="bus-link-txt milwaukee" href="/milwaukee">
      <!-- <a class="bus-link-txt milwaukee" href="https://bikegridnow.org/events/milwaukee-bike-bus-run-6"> -->

      <h2>
        Track the Milwaukee Bike Bus<br />
        <!-- Milwaukee Bike Bus Info &rarr;<br /> -->

        <!--       <img class="bus-link-img" src="https://cdn.glitch.global/6ba8c1b0-9df4-482f-9009-77d10d780dbb/header-mke.png?v=1662526286000" /> -->

      </h2>
    </a>

    <a class="bus-link-txt south-halsted" href="south-halsted">
      <!-- <a class="bus-link-txt south-halsted" href="https://bikegridnow.org/events/s-halsted-bike-bus-run-3"> -->
      <h2>
        Track the South Halsted Bike Bus<br />
        <!-- South Halsted Bike Bus Info &rarr;<br /> -->

        <!--       <img class="bus-link-img" src="https://cdn.glitch.global/6ba8c1b0-9df4-482f-9009-77d10d780dbb/header-mke.png?v=1662526286000" /> -->

      </h2>
    </a>

    <h3>
      Brought to you by
      <a href="https://bikegridnow.org">CHICAGO, BIKE GRID NOW!</a>
    </h3>
    <p>
      Track
      <b>all three</b>
      routes live on this page on
      <b>every Wednesday</b>
      beginning at 7:30am.
    </p>
    <!--     <ul>
      <li><a href="https://bikegridnow.org/events/oC4yLGLQclItnyakpUJa">RSVP and route details for the Halsted Bike Bus</a></li>
      <li><a href="https://bikegridnow.org/events/N8l4SpGUwws1JMRw8kPD">RSVP and route details for the Milwaukee Bike Bus</a></li>
    </ul>
    <div class="preview-container">
      <img class="preview" src="https://cdn.glitch.global/6ba8c1b0-9df4-482f-9009-77d10d780dbb/BIKE-BUS-FLYER_09.07_v2.png?v=1662474216634" />
      <img class="preview" src="https://cdn.glitch.global/6ba8c1b0-9df4-482f-9009-77d10d780dbb/BIKE-BUS-FLYER_MILWAUKEE_09.07_b.png?v=1662474208581" />      
    </div> -->
  </body>
</html>