<html>
  <head>
    <title>Bike Bus Beacon Instructions</title>
  </head>
  <body style="margin-left:20px; max-width:500px;">
    <h2 id="bike-bus-beacon-instructions">Bike Bus Beacon Instructions</h2>
    <p>When you&#39;re (physically) within the map area, you can test the beacon by going to the link below on your phone. Before you click that link, please read all of these instructions:</p>
    <p>When you open the beacon link, your device should prompt you to share your location with the website. Make sure you say yes, or the beacon won&#39;t be able to track you. From then on, whenever the beacon web page is visible on your phone screen, a dot will show up on the tracker map showing your location.</p>
    <p>Some beacon tips:</p>
      <h3>Setup</h3>
        <p>
          <em style="color:red;">The beacon will only track you when it&#39;s visible on screen.</em>
      </p>
            <p>
              Set your phone not to automatically go to sleep or dim the screen. On an iPhone, that&#39;s in Settings under <strong>Display and Brightness</strong> &gt; <strong>Auto-Lock</strong>.</p>
          
                <p>Mounting the phone running the beacon on your bike with a phone mount is a great way to ensure that the screen is always on. It also helps you keep the bus on schedule if you&#39;re up front.</p>
    <p>Make sure your phone is well-charged.</p>
      <h3>
        The Tracker Link
      </h3>
        <p>Don&#39;t dox yourself! Don&#39;t run the beacon until you&#39;re away from home, ideally at the starting point of the bus. If you do test the beacon at home, turn off the beacon as soon you&#39;re done to erase your location.</p>
    <p>Since anyone who opens the beacon url will update the tracker, I recommend not distributing it widely (or at all) beyond the person who will be running it. For example, we&#39;ve had the link posted in our slack and people will occasionally get curious and run it by accident. Now I just DM it to the driver the day before the bus.</p>
    <p>If the link is ever compromised, let me know and I&#39;ll change it.</p>
      <h3>
        The Ride
      </h3>            
    <p>The tracker will be most accurate if the person running the beacon is riding at the front of the bus.</p>
       <p>2. You can always tell whether the beacon is updating by comparing the current time to the timestamp next to the last transmitted coordinates. If for some reason the beacon&#39;s stopped updating, try reloading the page. On an iPhone, you can also try the steps above.</p>
    <p>The picture below shows what that looks like. The coordinates currently read &quot;0, 0&quot; because I&#39;m testing on my computer. <br /> <img style="width:300px" src="https://cdn.glitch.global/6ba8c1b0-9df4-482f-9009-77d10d780dbb/image%20(2).png?v=1666763634401" /></p>
    <li>You can shut down the beacon at any time by un-checking the &quot;Publish my location&quot; box. It may take a few seconds for the map to update.</li>

    <p>Troubleshooting:</p>
    <p>1. If you have an iPhone and you don&#39;t get a location prompt when you first open the beacon, open your settings app, go to  <strong>Privacy &amp; Security</strong> &gt; <strong>Location Services</strong> &gt; <strong>Safari Websites</strong>, then choose <strong>While Using the App</strong>.</p>
   
  </body>
</html>